@import './font/Pretendard.css';
@import './reset.css';

html,
body {
  font-size: 10px;
  margin: 0;
  color: #111;
  font-family: 'Pretendard-SemiBold',-apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
  Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */

img {
  border: 0;
  vertical-align: middle;
}
.container {
  position: relative;
  display: block;
  max-width: 1280px;
  margin: 0 auto;
}
html {
  font-size: 10px;
}
@media screen and (max-width: 1024px) {
  html {
    font-size: 9px;
  }
}
@media screen and (max-width: 768px) {
  html {
    font-size: 9px;
  }
}

button {
  cursor: pointer;
  font-family: 'Pretendard-SemiBold';
}
